<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Details">
  <test thread-count="5" name="Student">
      <parameter name="url" value="gmail.com"></parameter>
   <classes>
      <class name="test.day1"/>
   		<class name="test.day2"/>
      <class name="test.day4"/>
    </classes>
  </test> <!-- Student -->
    <test thread-count="5" name="Collage">
    <parameter name="URL" value="facebook.com"></parameter>
        <classes>
         <class name="test.day3">
         <methods>
         <exclude name="c.*"></exclude>
         </methods>
         </class>
       </classes>
    </test> <!-- Student -->  
</suite> <!-- Details -->
